@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

/* ROOT */

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background-color: #111;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 23px;
  font-weight: 350;
  letter-spacing: 0.5px;
}

h4 {
  color: #00ed82;
  font-size: 13px;
  text-transform: uppercase;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}

.text-xl {
  font-size: 70px;
  font-weight: bold;
}

.sub-text {
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-success {
  background: #1ce783;
  color: #333;
}

.details a {
  color: #1ce783;
  text-decoration: underline;
}
